body {
    display: flex;
    line-height: normal;
    background-color: aquamarine;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1%;
    background-color: aqua;
    color: black;
}

